/* ================= GLOBAL ================= */
body {
  background: #f4f6f9;
  padding-top: 70px;
}

.container {
  max-width: 1200px;
}

h2 {
  font-weight: bold;
  color: #000000;
}

input,
select {
  border-radius: 8px;
}

.table {
  background: white;
}

.card-style {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  margin-top: -40px;
}

/* ================= HERO ================= */
.hero {
  background: url("../Img/sekolah.jpg") center / cover no-repeat;
  height: 380px;
  position: relative;
}

.hero-overlay {
  background: rgba(0, 51, 102, 0.85);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero .container {
  text-align: center;
}

.hero h4,
.hero p {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
